// ================== Variables ==================

// ---------- Typography ----------
// Headings
$h1-size: 7rem;
$h2-size: 3.5rem;
$h3-size: 2.5rem;
$h4-size: 2rem;

// Links
$link-size: 1.75rem;

// Weight
$font-lite: 400;

// Paragraph
$p-size: 1.5rem;

// Font Family
$font-family: Arial, Helvetica, sans-serif;

// ------------------------------

// Colors
$dark-col: #333;
$light-col: #fff;
